*{
    margin:0;
    padding:0;
}
#header{
    width: 100%;
    height: 100px;
    background-color:blue;
    color: #89fffe;
}
#header h1{
    padding: 20px 0 0 20px;
}
#header div{
    color: white;
    width: 100%;
}
#header div p{
    padding: 10px;
    width: 100%;
    text-align: center;
}

#profile{
    width: 100%;
    height: 250px;
    background-color: #89fffe;
    color: black;
}
#profile img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
#profile div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#info{
    width: 100%;
    height: 300px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dd89ff0f;
}

.personal{
    margin-top: 20px;
}
#education{
    margin-top: 20px;
}
#contact{
    margin-top: 20px;
    margin-bottom: 20px;
}
#footer{
    width: 100%;
    height: 80px;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
